<a href="https://colab.research.google.com/github/ankit4307/ankit4307.github.io/blob/main/Copy_of_untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
i=int(input("enter a year :"))
if i%4==0 and i%100!=0 or i%400==0:
  print(" ITS A LEAP YEAR")
  print(" DAYS IN MONTH : 29 IN",i)
else:
  print("ITS NOT A LEAP YEAR")
  print("DAYS IN MONTH : 30 IN",i)

enter a year :2020
 ITS A LEAP YEAR
 DAYS IN MONTH : 29 IN 2020

In [5]:
principal_amount=int(input("enter your amount:"))
rate=10
ente_month_name=input("enter your month name:")

enter_month=int(input("enter your month:"))
enter_days=int(input("enter your days:"))
enter_year=int(input("enter your year:"))
if ente_month_name=="jan" or ente_month_name=="mar" or ente_month_name=="may" or ente_month_name=="july" or ente_month_name=="aug" or ente_month_name=="oct" or ente_month_name=="dec":
  days_in_month=31
elif ente_month_name=="apr" or ente_month_name=="jun" or ente_month_name=="sep" or ente_month_name=="nov":
  days_in_month=30
else:
  if enter_year%4==0 and enter_year%100!=0 or enter_year%400==0:
    days_in_month=29
    print(" ITS A LEAP YEAR")

  else:
    days_in_month=28
    print("ITS NOT A LEAP YEAR")


month=enter_days/days_in_month
total_time_period=month+enter_month
si=(principal_amount*rate*total_time_period)/100
print(si)

enter your amount:60000
enter your month name:mar
enter your month:8
enter your days:21
enter your year:2026
52064.516129032265

In [ ]:
prin

Bio data

In [ ]:
# I making bio data#
print("             BIODATA    ")
print("")
print("Name           : Ankit kumar")
print("Phone number   : 7888304156")
print("Email add      : ankitkumar788830@gamil.com")
print("Father Name    : Ashok choudhry")
print("DOB            : 10/07/2004")
print("Age            : 21 ")

print("Qulification   : Bca")
print("Langauge       : Hindi English")
print("Marrital Status: Unmarried")
print("gender         : Male")
print("Religion       : Hindu")

             BIODATA

Name           : Ankit kumar
Phone number   : 7888304156
Email add      : ankitkumar788830@gamil.com
Father Name    : Ashok choudhry
DOB            : 10/07/2004
Age            : 21
Qulification   : Bca
Langauge       : Hindi English
Marrital Status: Unmarried
gender         : Male
Religion       : Hindu

In [ ]:
name ="Ankit kumar"
print("Name :",name)
ph= 788304156
print("Phone No :",ph)
gmail= "ankitkumar788830@gamil.com"
print("Email add :",gmail)
father ="Ashok choudhry"
print("Father name",father)
dob= "10/07/2004"
print("DOB :",dob)
age= 21
print("Age :",age)
qly= "bca"
print("qulification :",qly)
lang= "Hindi English"
print("Language :",lang)

Name : Ankit kumar
Phone No : 788304156
Email add : ankitkumar788830@gamil.com
Father name Ashok choudhry
DOB : 10/07/2004
Age : 21
qulification bca
Language : Hindi English

In [ ]:
item1="burger"
price_of_item1=80
item2="pizza"
price_of_item2=150
item3="wrap"
price_of_item3=120
item4="friese"
price_of_item4=130
item5="moms"
price_of_item5=90
print(item1)
print(price_of_item1)
total=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
print("TOTAL_BILL",total)
discount=10
total_dis=total*discount/100
print("TOTAL discount",total_dis)
print("Pay_bill",total-total_dis)

burger
80
TOTAL_BILL 570
TOTAL discount 57.0
Pay_bill 513.0

In [ ]:
first_number=5
second_number=10
print(first_number+second_number)

15

In [ ]:
a=500
b=100
sum=a+b
sub=a-b
mul=a*b
div=a/b
print(sum,sub,mul,div)

600 400 50000 5.0