<a href="https://colab.research.google.com/github/ankit4307/ankit4307.github.io/blob/main/untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [1]:
item1="burger"
price_of_item1=80
discount_item1=10
total_discount_item1=price_of_item1*discount_item1/100
final_prize_of_item1=price_of_item1-total_discount_item1
print("Final prize of burger :",final_prize_of_item1)

item2="pizza"
price_of_item2=150
discount_item2=9
total_discount_item2=price_of_item2*discount_item2/100
final_prize_of_item2=price_of_item2-total_discount_item2
print("Final prize of pizza :",final_prize_of_item2)

item3="wrap"
price_of_item3=120
discount_item3=9
total_discount_item3=price_of_item3*discount_item3/100
final_prize_of_item3=price_of_item3-total_discount_item3
print("Final prize of wrap :",final_prize_of_item3)

item4="fries"
price_of_item4=130
discount_item4=9
total_discount_item4=price_of_item4*discount_item4/100
final_prize_of_item4=price_of_item4-total_discount_item4
print("Final prize of fries : ",final_prize_of_item4)
Enter_your_name="Ankit kumar"
Enter_your_adress="186 daria chandigarh"
Enter_mobile_no=7888304156
Enter_pin_code=160002
print("Custmer Name :",Enter_your_name)
print("custmer adress :",Enter_your_adress)
print("custmer phone no :",Enter_mobile_no)
print("custmer pin code :",Enter_pin_code)
total_discount=total_discount_item1+total_discount_item2+total_discount_item3+total_discount_item4
final_prize=final_prize_of_item1+final_prize_of_item2+final_prize_of_item3+final_prize_of_item4

print("Total discount :",total_discount)
print("Payable bill :",final_prize)

Final prize of burger : 72.0
Final prize of pizza : 136.5
Final prize of wrap : 109.2
Final prize of fries :  118.3
Custmer Name : Ankit kumar
custmer adress : 186 daria chandigarh
custmer phone no : 7888304156
custmer pin code : 160002
Total discount : 44.0
Payable bill : 436.0

In [4]:
item=input("enter your item :")
print(item)
ph=int(input("enter your phone no:"))
print(ph)

enter your item :burger
burger
enter your phone no:7888304156
7888304156

In [5]:
item1=input("Enter your item :")
print(item1)
item2=input("Enter your item:")
print(item2)

Enter your item :burger
burger
Enter your item:pizza
pizza

In [12]:
a=int(input("Enter your first number :"))

b=int(input("Enter your second number :"))


print("Add two number :",a+b)
print("sub tow number :",a-b)
print("multiply two number :",a*b)
print("divide tow number :",a/b)

Enter your first number :8
enter your operator/
Enter your second number :9

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Bio data

In [ ]:
# I making bio data#
print("             BIODATA    ")
print("")
print("Name           : Ankit kumar")
print("Phone number   : 7888304156")
print("Email add      : ankitkumar788830@gamil.com")
print("Father Name    : Ashok choudhry")
print("DOB            : 10/07/2004")
print("Age            : 21 ")

print("Qulification   : Bca")
print("Langauge       : Hindi English")
print("Marrital Status: Unmarried")
print("gender         : Male")
print("Religion       : Hindu")

             BIODATA

Name           : Ankit kumar
Phone number   : 7888304156
Email add      : ankitkumar788830@gamil.com
Father Name    : Ashok choudhry
DOB            : 10/07/2004
Age            : 21
Qulification   : Bca
Langauge       : Hindi English
Marrital Status: Unmarried
gender         : Male
Religion       : Hindu

In [ ]:
name ="Ankit kumar"
print("Name :",name)
ph= 788304156
print("Phone No :",ph)
gmail= "ankitkumar788830@gamil.com"
print("Email add :",gmail)
father ="Ashok choudhry"
print("Father name",father)
dob= "10/07/2004"
print("DOB :",dob)
age= 21
print("Age :",age)
qly= "bca"
print("qulification :",qly)
lang= "Hindi English"
print("Language :",lang)

Name : Ankit kumar
Phone No : 788304156
Email add : ankitkumar788830@gamil.com
Father name Ashok choudhry
DOB : 10/07/2004
Age : 21
qulification bca
Language : Hindi English

In [ ]:
item1="burger"
price_of_item1=80
item2="pizza"
price_of_item2=150
item3="wrap"
price_of_item3=120
item4="friese"
price_of_item4=130
item5="moms"
price_of_item5=90
print(item1)
print(price_of_item1)
total=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
print("TOTAL_BILL",total)
discount=10
total_dis=total*discount/100
print("TOTAL discount",total_dis)
print("Pay_bill",total-total_dis)

burger
80
TOTAL_BILL 570
TOTAL discount 57.0
Pay_bill 513.0

In [ ]:
first_number=5
second_number=10
print(first_number+second_number)

15

In [ ]:
a=500
b=100
sum=a+b
sub=a-b
mul=a*b
div=a/b
print(sum,sub,mul,div)

600 400 50000 5.0